@import '../styles/colors';
@import '../styles/mixins';

.appartement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;

    .appartement-info_container {
        margin: 3rem 0 1rem 0;
        position: relative;
        width: 90vw;
        @include space-between;
    }
}