@import './styles/colors';
@import './styles/mixins';


.banner {
    @include center;
    margin: 5rem 0 7rem 0;
    height: 7rem;

    .banner-image {
        @include center;
        position: absolute;
        border-radius: 25px;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        height: 12rem;
        width: 85vw;
        margin-left: 0%;
    }

    .banner-background {
        @include center;
        position: absolute;
        width: 85vw;
        height: 12rem;
        background-color: $black;
        opacity: 0.6;
        z-index: 2;
        border-radius: 25px;
    }

    .banner-title {
        @include center;
        width: 85vw;
        color: $white;
        z-index: 3;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
    }
}