.header {
    display: flex;
    color: white;
    list-style: none;
    justify-content: space-between;
    background-color: grey;

    img {
        width: 20%;
    }

    nav {
        width: 20%;

        ul {
            display: flex;

            li {
                margin: 0 10px;
            }
        }
    }
}