@mixin left {
  display: flex;
  align-items: center;
}


@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin position-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

@mixin position-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}