@import './styles/colors';
@import './styles/mixins';


.appartement-info_container {
    @include space-between;
    margin: 3rem 0 1rem 0;
    position: relative;
    width: 90vw;


    .appartement-info_profil {

        width: 70vw;

        .label-container {

            .appartement-title {
                font-size: 36px;
                font-weight: 500;
                color: $primary;
                margin-bottom: 0%;
            }

            .appartement-location {
                font-size: 18px;
                font-weight: 500;
                color: $black;
                margin-top: 0.5rem;
            }
        }

        .tags {
            @include left;

            span {
                text-align: center;
                @include center;
                width: 7.19rem;
                height: 25px;
                border-radius: 10px;
                background-color: $primary;
                color: $white;
                padding: 3px 40px 3px 40px;
                margin-right: 10px;
            }
        }
    }
}