@import './styles/colors';
@import './styles/mixins';

@media (max-width: 768px) {

    header {
        width: 83.8vw;

        .logo {
            .logo-kasa {
                width: 26vw;
                height: 9vw;
            }
        }

        .navbar {
            display: flex;
            flex-wrap: wrap;

            .link {
                margin-left: 1rem;
                word-wrap: normal;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }

    .banner-homepage {
        margin: 0;

        .banner {
            margin: 5vw 0;

            .banner-image {
                height: 22vw;
            }

            .banner-background {
                height: 22vw;
            }

            .banner-title {
                font-size: 24px;
                text-align: left;
            }
        }
    }

    .card-container {
        grid-template-columns: 1fr;

        background-color: $white;
        grid-gap: 2rem;
        padding: 0;

        .link-card {
            width: 83.8vw;
            height: 70vw;
        }
    }

    .slideshow-container {
        margin-top: 0%;

        .slideshow-navigation {

            .navigation-back,
            .navigation-forward {
                width: 22px;
                height: 30px;
            }
        }

        .slide {
            img {
                width: 84vw;
                height: 255px;
            }

            .slide-count {
                visibility: hidden;
            }
        }
    }

    .appartement-info_container {
        display: flex;
        flex-direction: column;

        .appartement-info_location {
            .title-location {
                font-size: 18px;
            }

            .subtitle-location {
                font-size: 14px;
            }

            .tags {
                font-size: 14px;

                span {
                    width: 10rem;
                    padding: 0 4px 0 2px;
                }
            }
        }

        .appartement-info_host {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-content: center;
            margin-top: 20px;

            .host-profil {
                p {
                    font-size: 14px;
                }

                .host-picture {
                    width: 10vw;
                    height: 10vw;
                }
            }

            .rate {
                margin-top: 0;

                img {
                    width: 3vw;
                    height: 3vw;
                    margin-left: 0;
                    margin-right: 2vw;
                }
            }
        }
    }

    .collapse-container_appartement {
        margin-top: 10px;
        @include center-column;

        .collapse {
            width: 84vw;
            margin-bottom: 30px;

            .collapse-header {
                height: 30px;

                h2 {

                    font-size: 13px;
                }

                img {
                    width: 16px;
                    height: 9.14px;
                }
            }

            .collapse-body {
                p {
                    font-size: 12px;
                    padding: 5px;
                    line-height: 17.11px;
                }
            }
        }
    }

    .collapse-container_apropos {
        margin: 0%;
        width: 83.8vw;

        .collapse {
            margin-bottom: 30px;
            width: 83.8vw;

            .collapse-header {
                padding: 3px 10px 3px 10px;
                height: 30px;
                width: 83.8vw;

                h2 {
                    font-size: 13px;
                    font-weight: 700;
                }

                img {
                    width: 16px;
                    height: 9.14px;
                }
            }

            .collapse-body {
                width: 83.8vw;

                p {
                    width: 80vw;
                    padding: 5px;
                    font-size: 12px;
                    line-height: 17.11px;
                }
            }
        }
    }

    .error-section {
        width: 100%;

        .error-number {
            font-size: 128px;
        }

        .error-text {
            font-size: 18px;
            text-align: center;
        }

        .error-back_home {
            font-size: 14px;
        }
    }


    footer {
        width: 100%;
        max-width: none;
    }
}